<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <meta charset="urt-8"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/draw.js"></script>
        <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
        <script src="/javascripts/jquery-ui-1.8.6.custom.min.js"></script>
        <script src="/javascripts/file.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
